@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #5682B1;
  --color-secondary: #739EC9;
  --color-hover:#A5C9E5;
  --color-background: #FFE8DB;
  --color-text-main: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar Styles */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thumb-gray-500::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 6px;
}

.scrollbar-thumb-gray-600::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 6px;
}

.scrollbar-track-transparent::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-track-gray-800::-webkit-scrollbar-track {
  background-color: #111827;
}

.scrollbar-track-black::-webkit-scrollbar-track {
  background-color: #000000;
}

/* Hover effect for scrollbar */
.hover\:scrollbar-thin:hover {
  scrollbar-width: thin;
}

.hover\:scrollbar-thin:hover::-webkit-scrollbar {
  width: 4px;
}

.hover\:scrollbar-thumb-gray-500:hover::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 6px;
}

.hover\:scrollbar-thumb-gray-700:hover::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 6px;
}

.hover\:scrollbar-track-transparent:hover::-webkit-scrollbar-track {
  background: transparent;
}

.hover\:scrollbar-track-black:hover::-webkit-scrollbar-track {
  background-color: #000000;
}
